:root {
    --text-color: grey;
    --border: 0.2vh solid black;
    --sidebars-bg: #d1e1dd;
    --header-footer-bg: #dee5e5;
    --lower-header-bg: rgba(197, 224, 224, 0.89);
    --current-page-color: #010f4b;
    --hover-link-color: lightgrey;
    --active-link-color: lightgreen;
}

*{
    word-break: break-word;
    overflow: auto;
    text-align: start;
}

html{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    max-height: 100vh;
}


.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20% 10% 50% 20%;
    grid-template-areas: 
            "header header right-sidebar"
            "left-sidebar lower-header right-sidebar"
            "left-sidebar center right-sidebar"
            "footer footer footer";
    min-height: 100vh;
}

.header {
    min-height: 100px;
    background-color: var(--header-footer-bg);
    border: var(--border);
    border-bottom: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-area: header;
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 7% 23% 70%;
    grid-template-areas: 
            ". . text-area-header"
            ". inserted-block-header text-area-header"
            ". . text-area-header";
    
}

.text-area-header {
    grid-area: text-area-header;
    padding: 3%;
}

.lower-header{
    grid-area: lower-header;
    background-color: var(--lower-header-bg);
    border: var(--border);
    border-right: none;
    border-left: none;
    min-height: 100px;
    max-height: 120px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.inserted-block-footer, .inserted-block-header {
    text-align: center;
    border: var(--border);
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    justify-content: center;
    font-size: 2.2em;
    max-height: 70px;
    align-items: center;
}

.inserted-block-footer h1, .inserted-block-header h1 {
    margin: 0;
}

.text-area-footer, .text-area-header {
    padding-left: 2vw;
    padding-right: 2vw;
}

footer {
    min-height: 100px;
    background-color: var(--header-footer-bg);
    border: var(--border);
    border-right: none;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-area: footer;
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 75% 18% 7%;
    grid-template-areas: 
            "text-area-footer . ."
            "text-area-footer inserted-block-footer ."
            "text-area-footer . .";
}

.text-area-footer {
    grid-area: text-area-footer;
    padding: 3%;
}

.inserted-block-header {
    grid-area: inserted-block-header;
}

.inserted-block-footer {
    grid-area: inserted-block-footer;
}

.center{
    grid-area: center;
}

.right-sidebar{
    grid-area: right-sidebar;
    background-color: var(--sidebars-bg);
    border: var(--border);
    border-bottom: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
}

.left-sidebar {
    grid-area: left-sidebar;
    background-color: var(--sidebars-bg);
    border: var(--border);
    border-bottom: none;
    justify-content: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

a:hover {
    background-color:var(--hover-link-color) ;
}

a:active {
    background-color:var(--active-link-color);
}

ul, ol {
    margin-top: 0;
    list-style: none;
    font-size: 1.3em;
    text-align: left;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

h1 {
    font-size: 0.8em;
}

img{
    width: 100%;
    height: 100%;
}

p{
    font-size: 20px;
}

.menu {
    line-height: 1.2;
}

aside p {
    alignment: bottom;
}

.second-page-image {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.third-page-image {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.fifth-page-image {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.current-page{
    color: var(--current-page-color);
}

@media screen and (max-width : 1024px) {
    .inserted-block-header, .inserted-block-footer {
        font-size: 2em;
        max-height: 60px;
    }

    ul, ol, p{
        font-size: 1em;
    }
}

@media screen and (max-width : 800px) {
    .inserted-block-header, .inserted-block-footer {
        font-size: 1.1em;
        max-height: 50px;
    }

    ul, ol, p {
        font-size: 0.9em;
    }
}
@media screen and (max-width : 420px) {
    .inserted-block-header, .inserted-block-footer {
        font-size: 0.6em;
        max-height: 30px;
    }

    ul, ol, p {
        font-size: 0.6em;
    }
}

