:root {
    --text-color: grey;
    --border: 0.2vh solid black;
    --sidebars-bg: #d1e1dd;
    --header-footer-bg: #dee5e5;
    --lower-header-bg: rgba(197, 224, 224, 0.89);
    --current-page-color: #010f4b;
    --hover-link-color: lightgrey;
    --active-link-color: lightgreen;
}

* {
    box-sizing: border-box;
    word-break: break-word;
    overflow: auto;
    text-align: start;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

table td {
    padding: 0;
    margin: 0;
}

.footer{
    min-height: 100px;
    background-color: var(--header-footer-bg);
    border: var(--border);
    border-bottom: none;
    border-right: none;
    justify-content: center;
    align-items: center;
}

.right-sidebar {
    background-color: var(--sidebars-bg);
    border: var(--border);
    border-bottom: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
}

.header {
    min-height: 100px;
    background-color: var(--header-footer-bg);
    border: var(--border);
    border-bottom: none;
    border-right: none;
    justify-content: center;
    align-items: center;
}

.left-sidebar {
    background-color: var(--sidebars-bg);
    border: var(--border);
    border-bottom: none;
    justify-content: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

.lower-header {
    background-color: var(--lower-header-bg);
    border: var(--border);
    border-right: none;
    border-left: none;
    min-height: 100px;
    max-height: 120px;
    padding-left: 2vw;
    padding-right: 2vw;
}



